body{
background-color:#C2C7A9;
front-family:arial;
}
h2{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 28px;
	text-align: justify;
	margin-right: 70px;
	margin-left: 70px;
}
h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
	white-space: normal;
	color: #FFF;
}
h3{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	font-style: oblique;
	color: #000;
	margin-right: 50px;
}